mlflow==2.16.2
attrs==24.2.0
cffi==1.16.0
cloudpickle==3.0.0
jaraco-text==3.12.1
matplotlib==3.9.2
numpy==2.1.2
ordered-set==4.1.0
pandas==2.2.3
pytorch-lightning==2.4.0
rich==13.9.2
scipy==1.14.1
torch==2.4.1
zstandard==0.22.0